/* CSS declarations go here */
/* @charset "UTF-8"; */

/* @import 'vendor/normalize'; */
/* @import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400'); */

body{
  height: 100vh;
  background: #eee;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.appContainer{
	margin-left: auto;
	margin-right: auto;
	position: relative;

	width: 95vw;
	height: 300px;
	/* background-size: 300px 100px,contain;
	 */

	padding: 3vh;
	background: white;
	margin-bottom: 10px;
	/* content:url(/img/background.jpg); */
	/* clear: both;  */
	/* background-image:url(./background.jpg); */

/* 	background-image: url(./background.jgp)
 */}
img{
	position: absolute;
	background-size: contain;
}

form{
	background-size: 100px 100px,contain;
	object-fit: none;

}

input{
  width: 48%;
  height: 2em;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 4px;
  border:1px solid #cccccc;
  margin-top: 20px;
  position: absolute;
}

.submit{
  width: 50%;
  height: 3em;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background: lightgreen;
  border: 0;
  margin-top: 20px;
  border-radius: 4px;

}
ul{
  list-style-type: none;
  padding: 10px;
  margin: 0;
  margin-bottom: 5px;
  
  text-align: left;  
}

a{
  padding: 5px;
  margin: 15px;
}



td{
/*   max-width: 30px;
 */  overflow: auto;
}

table {
	display: table;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;
	width: 90vw;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}

table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
	
}




/* ====== Delete button =======*/




.button{
	background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
	background-image: linear-gradient(top, #f4f1ee, #fff);
	border-radius: 50%;
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
	float:left;
	height: 30px;
	margin: 0 30px 30px 0;
	position: fixed;
	width: 30px;			
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
	display: none;
	margin: 0px;
}
table tr:hover #ss {
	display: inline-block;
	
}
.button:after{
	color:#e9e6e4;
	content: "";
	display: block;
	font-size: 20px;
	height: 10px;
	text-decoration: none;
	text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
	position: absolute;
	width: 10px;
}



.cross:after{
	content: "✖";
	left: 11px;
	top: 6px;
}

.button:hover{
	background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
	background-image: linear-gradient(top, #fff, #f4f1ee);
	color:#0088cc;
}

.cross:hover:after{
	color:#eb2f2f;
	text-shadow:0px 0px 6px #eb2f2f;
}

.button:active{
	background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
	background-image: linear-gradient(top, #efedec, #f7f4f4);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.button:active:after{
	color:#dbd2d2;
	text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

