/* CSS declarations go here */
/* @charset "UTF-8"; */




body{
  height: 100vh;
  background-color: #211E1E;
  margin: 0px;
  width: 100%;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
.bodyWrapper{
  margin-top: 85px;
}

h3 {
  margin: 0px;
  /* font-family: 'Rouge Script', cursive; */
  font-family: 'Lobster', cursive; 
  font-size: 36px;
  font-weight: normal;
  line-height: 48px;
  text-shadow: 1px 0 0 #fff;
  }
h2{
    color: rgb(115, 141, 120);
    font-family: Verdana,'Segoe UI', Tahoma, Geneva, sans-serif, cursive;
    font-size: 35px;
    font-weight: normal;
    line-height: 32px;
    margin: 0 0 18px;
}

form{
  margin-top: 85px;
}
img{
  border-radius: 50px;
  opacity: 1.0;
  transition: opacity 0.2s ease-in-out;
  margin-top: -9px;
  border: black 13px;
  border-style: solid;
}
img:hover{
  opacity: 0.6;

}

#stay{
  font-family: 'Lobster', cursive; 
  font-size: 36px;
  font-weight: normal;
  line-height: 48px;
  text-shadow: 1px 0 0 #fff;
  width: fit-content;
  position: fixed;
  margin-top: -4px;
  margin-left: -111px;
  display: inline-block;
}
#leet{
  
  width: fit-content;
  position: fixed;
  margin-top: -4px;
  margin-left: 13px;
  display: inline-block;
}
header{
  padding: 5px;
  height: 45px;
  width: 100%;
  color: white;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}
.appContainer{
	margin-left: auto;
	margin-right: auto;
	width: 95vw;
	height: 300px;
	padding: 3vh;
	background: rgba(3, 56, 49, 0.801);
  margin-bottom: 10px;
  border-radius: 7px;
	}



input{
  width: 49.5%;
  height: 3em;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-size: 16px;
  border-radius: 4px;
  border:1px solid #cccccc;
  margin-top: 20px;
}

.submit{
  font-size: 20px;
  width: 50%;
  height: 3em;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background: rgba(104, 163, 64, 0.863);
  border: 0;
  margin-top: 20px;
  border-radius: 4px;

}

/* a{
  padding: 5px;
  margin: 15px;
} */
/* ====== TABLE =======*/
.table-title {
	display: block;
   margin: auto;
   max-width: 600px;
   padding:5px;
   width: 500px;
 }
 
 .table-title h3 {
	color: #fafafa;
	font-size: 30px;
	font-weight: 400;
	font-style:normal;
	font-family: "Roboto", helvetica, arial, sans-serif;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	text-transform:uppercase;
 }
 table{
	table-layout: fixed;

 }
 
 /*** Table Styles **/
 
 .table-fill {
	width: 98vw;
	background: white;
	margin-bottom: 10px;
    background: white;
    border-radius:3px;
    border-collapse: collapse;
   height: 320px;
	margin-left: auto;
	margin-right: auto;
   padding:5px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   animation: float 5s infinite;
 }
  #seq{
    width: 100px;
  }
  #visited{
    width: 50px;
    text-align: center;
  }
 th {
   color:#D5DDE5;;
   background:#1b1e24;
   border-bottom:4px solid #9ea7af;
   border-right: 1px solid #343a45;
   font-size:23px;
   font-weight: 100;
   padding:24px;
   text-align:center;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   vertical-align:middle;
   
 }
 
 th:first-child {
   border-top-left-radius:3px;
 }
  
 th:last-child {
   border-top-right-radius:3px;
   border-right:none;
 }
   
 tr {
   border-top: 1px solid #C1C3D1;
   border-bottom: 1px solid #C1C3D1;
   color:#666B85;
   font-size:16px;
   font-weight:normal;
   text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
   position: relative;

}
  
 tr:hover td {
   background:#4E5066;
   color:#FFFFFF;
   border-top: 1px solid #22262e;
 }
  
 tr:first-child {
   border-top:none;
 }
 
 tr:last-child {
   border-bottom:none;
 }
  
 tr:nth-child(odd) td {
   background:#EBEBEB;
 }
  
 tr:nth-child(odd):hover td {
   background:#4E5066;
 }
 
 tr:last-child td:first-child {
   border-bottom-left-radius:3px;
 }
  
 tr:last-child td:last-child {
   border-bottom-right-radius:3px;
 }
  
 td {
   background:#FFFFFF;
   padding:10px;
   max-width: 200px;
   max-height: 50px;
   text-align:center;
   vertical-align:middle;
   font-weight:300;
   font-size:18px;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   border-right: 1px solid #C1C3D1;
   word-wrap: break-word;
 }
 
 td:last-child {
   border-right: 0px;
 }
 
 th.text-left {
   text-align: left;
 }
 
 th.text-center {
   text-align: center;
 }
 
 th.text-right {
   text-align: right;
 }
 
 td.text-left {
   text-align: left;
 }
 
 td.text-center {
   text-align: center;
 }
 
 td.text-right {
   text-align: right;
 }
 
/* ====== Delete button =======*/


.button{
	background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
	background-image: linear-gradient(top, #f4f1ee, #fff);
	border-radius: 50%;
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
	float:left;
	height: 30px;
    margin-top: 20px;
	margin-left: 12px;
	position: absolute;
	width: 30px;			
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
	display: block;
}
	

.button:after{
	color:#e9e6e4;
	content: "";
	display: block;
	font-size: 20px;
	height: 10px;
	text-decoration: none;
	text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
	position: absolute;
	width: 10px;
}



.cross:after{
	content: "✖";
	left: 4px;
	top: -1px;
}

.button:hover{
	background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
	background-image: linear-gradient(top, #fff, #f4f1ee);
	color:#0088cc;
}

.cross:hover:after{
	color:#eb2f2f;
	text-shadow:0px 0px 6px #eb2f2f;
}

.button:active{
	background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
	background-image: linear-gradient(top, #efedec, #f7f4f4);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.button:active:after{
	color:#dbd2d2;
	text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

